<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>장원급제</title>
    <link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap" rel="stylesheet">
</head>
<body>
<br><br><br>
<div style="text-align:center;font-size: 30px; font-family: 'Yeon Sung', sursive;">도적이더냐, 여기서 썩 나가지못할까</div>
<div style="background-image: url(../static/cant.png); width : 17em; height: 30em; background-size: cover; position:relative; left:50%; margin-left: -8.5em;"></div>
</body>
</html>